* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

header .top-blue-line {
  background-color: #0282f9;
  height: 3vh;
  display: flex;
  align-items: center;
}

header .top-blue-line ul {
  display: flex;
  justify-content: flex-end;
  width: 65%;
  margin: 0 auto;
}

header .top-blue-line ul li {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 5em;
}

header .top-blue-line ul li a .fa-caret-down {
  color: #0282f9;
}

header .top-nav {
  width: 65%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top-nav img {
  width: 70%;
  height: auto;
}

header .top-nav nav ul li {
  padding: 0em 1em;
}

header .top-nav nav ul li .active {
  color: #0282f9;
}

header .top-nav nav ul li a {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}

header .top-nav nav ul li:hover a {
  color: #0282f9;
}

header .top-nav input[type=text] {
  border: none;
  border-bottom: 2px solid #0282f9;
  text-align: right;
  padding-right: 0.8em;
  width: 60%;
}

header .hero {
  background-image: url("/images/jumbotron.jpg");
  background-color: lightblue;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .hero .blue-line {
  position: absolute;
  background-color: #0282f9;
  height: 7vh;
  width: 100%;
  align-self: end;
}

header .hero .comic-poster {
  position: absolute;
  left: 23%;
  top: 32%;
  border: 1px solid #fff;
}

header .hero .comic-poster img {
  position: absolute;
  left: 0;
  top: 35%;
  position: relative;
}

header .hero .comic-poster .type {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00a9d9;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.1em 0.5em;
}

header .hero .comic-poster .gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00a9d9;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.1em 0;
}

main .bg-dark {
  background-color: #1c1c1c;
}

main .bg-dirtywhite {
  background-color: #f6f6f6;
}

main .container {
  width: 70%;
  margin: 0 auto;
}

main .container .btn-tag {
  margin-top: -22px;
}

main .container .current-series {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 98%;
  margin: 1em auto 0;
}

main .container .current-series .comic {
  margin: 1em 0;
  width: 16.6666666667%;
}

main .container .current-series .comic img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 0.6em;
}

main .container .current-series .comic span {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  width: 95%;
  display: inline-block;
}

main .container .comic-page {
  width: 78%;
  margin: 6vh auto;
  display: flex;
}

main .container .comic-page__overview {
  flex-basis: 66.6666666667%;
}

main .container .comic-page__overview h2 {
  text-transform: uppercase;
  color: #003f5e;
  font-size: 1.6rem;
}

main .container .comic-page__overview .price {
  background-color: #55ba59;
  height: 5vh;
  width: 90%;
  margin: 1.2em 0 0.9em;
  font-weight: 700;
  display: flex;
}

main .container .comic-page__overview .price__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-left: 2em;
  flex-basis: 70%;
  border-right: 1px solid black;
}

main .container .comic-page__overview .price__left span {
  color: #bafd91;
  margin-right: 2em;
}

main .container .comic-page__overview .price__left span span {
  color: #fff;
}

main .container .comic-page__overview .price__right {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container .comic-page__overview .price__right span {
  color: #fff;
}

main .container .comic-page__overview p {
  font-weight: normal;
  line-height: 1.4;
  color: #555555;
  width: 90%;
}

main .container .comic-page__ad {
  flex-basis: 33.3333333333%;
  display: flex;
  justify-content: center;
}

main .container .comic-page__ad span {
  text-transform: uppercase;
  color: #555555;
  font-weight: 700;
  text-align: right;
  display: block;
  font-size: 0.9rem;
}

main .container .comic-page__ad img {
  max-width: 100%;
  height: auto;
}

main .container .comic-page-details {
  width: 78%;
  margin: 0 auto;
  display: flex;
  padding: 1em 0;
}

main .container .comic-page-details .talent,
main .container .comic-page-details .specs {
  flex-basis: 50%;
}

main .container .comic-page-details .talent h3,
main .container .comic-page-details .specs h3 {
  width: 90%;
  padding-bottom: 1em;
  border-bottom: 1px solid #dcdcdc;
  color: #003f5e;
}

main .container .comic-page-details .talent div,
main .container .comic-page-details .specs div {
  padding: 0.5em 0;
  width: 90%;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
}

main .container .comic-page-details .talent div h4,
main .container .comic-page-details .specs div h4 {
  flex-basis: 40%;
  color: #003f5e;
  font-weight: normal;
  font-size: 0.8rem;
}

main .container .comic-page-details .talent div span,
main .container .comic-page-details .specs div span {
  flex-basis: 60%;
  font-size: 0.8rem;
  color: #555555;
}

main .container .comic-page-details .talent div span a,
main .container .comic-page-details .specs div span a {
  text-decoration: none;
  color: #0282f9;
  font-weight: 700;
}

main .container .features {
  background-color: #0282f9;
}

main .container .features__content {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

main .container .features__content div {
  display: flex;
  align-items: center;
}

main .container .features__content div a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0 1em;
}

main .container .features__content div img {
  width: 3vw;
  height: auto;
}

main .container .features__content div #shop-locator {
  width: 2.5vw;
}

footer .footer {
  background-image: url("/images/footer-bg.jpg");
  background-color: #1c1c1c;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em 0;
}

footer .footer__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer .footer__content .links {
  flex-basis: 41.6666666667%;
  margin-right: 8.3333333333%;
  display: flex;
  flex-wrap: wrap;
}

footer .footer__content .links .link-col {
  flex-basis: 33.3333333333%;
  padding: 2em 0.5em 3em;
}

footer .footer__content .links .link-col h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.6em 0;
}

footer .footer__content .links .link-col a {
  color: #797c7c;
  text-transform: capitalize;
  font-size: 0.8rem;
  margin: 0.3em 0;
  display: block;
  font-weight: normal;
}

footer .footer__content .links .right {
  flex-basis: 100%;
}

footer .footer__content .links .right span {
  color: #797c7c;
  font-size: 0.8rem;
  margin: 0.3em 0;
  display: block;
  font-weight: normal;
}

footer .footer__content .links .right span a {
  color: #0282f9;
  text-decoration: none;
  font-weight: normal;
}

footer .footer__content .logo {
  flex-basis: 41.6666666667%;
  background-image: url("/images/dc-logo-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .social {
  background-color: #303030;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social__content .links {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

footer .social__content .links span {
  text-transform: uppercase;
  color: #0282f9;
  margin-right: 1em;
  font-weight: 700;
  font-size: 1.2rem;
}

footer .social__content .links div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social__content .links div img {
  width: 60%;
  height: auto;
  margin: 0 0.5em;
}

.btn {
  background-color: #0282f9;
  padding: 0.3em 0.6em;
  text-align: center;
  width: 12%;
  margin: 1em auto 2em;
  z-index: 1;
  position: relative;
}

.btn a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.btn-tag {
  background-color: #0282f9;
  padding: 0.8em 1.5em;
  text-align: center;
  display: inline-block;
  z-index: 1;
  position: relative;
}

.btn-tag span {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}

.btn-signup span {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #0282f9;
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-signup span:hover {
  background-color: #0282f9;
}

.btn-signup span a {
  color: #fff;
  text-decoration: none;
}

