* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .hero {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

