@import '../utilities/variables';

main{
  .bg-dark{background-color: $bg-main;}
  .bg-dirtywhite{background-color: #f6f6f6;}
  .container{
    width: 70%;
    margin: 0 auto;
    .btn-tag{
      margin-top: -22px;
    }
    .current-series{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 98%;
      margin: 1em auto 0;
      .comic{
        margin: 1em 0;
        width: calc(100% / 6);
        img{
          // clip-path: inset(0 0 35% 0);
          width: 180px;
          height: 180px;
          object-fit: cover;
          object-position: top;
          margin-bottom: 0.6em;
        }
        span{
          color: #fff;
          text-transform: uppercase;
          font-size: 0.9rem;
          width: 95%;
          display: inline-block;
        }
      }
    }
    .comic-page{
      width: 78%;
      margin: 6vh auto;
      display: flex;
      &__overview{
        flex-basis: calc(100% / 12 * 8);
        h2{
          text-transform: uppercase;
          color: $comic-title;
          font-size: 1.6rem;
        }
        .price{
          background-color: #55ba59;
          height: 5vh;
          width: 90%;
          margin: 1.2em 0 0.9em;
          font-weight: 700;
          display: flex;
          &__left{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.9rem;
            margin-left: 2em;
            flex-basis: 70%;
            border-right: 1px solid black;
            span{
              color: #bafd91;
              margin-right: 2em;
              span{
                color: #fff;
              }
            }
          }
          &__right{
            flex-basis: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
              color: #fff;
            }
          }
        }
        p{
          font-weight: normal;
          line-height: 1.4;
          color: #555555;
          width: 90%;
        }
      }
      &__ad{
        flex-basis: calc(100% / 12 * 4);
        display: flex;
        justify-content: center;
        span{
          text-transform: uppercase;
          color: #555555;
          font-weight: 700;
          text-align: right;
          display: block;
          font-size: 0.9rem;
        }
        img{
          max-width: 100%;
          height: auto;
        }
      }
    }
    .comic-page-details{
      width: 78%;
      margin: 0 auto;
      display: flex;
      padding: 1em 0;
      .talent,
      .specs{
        flex-basis: 50%;
        h3{
          width: 90%;
          padding-bottom: 1em;
          border-bottom: 1px solid #dcdcdc;
          color: $comic-title;
        }
        div{
          padding: 0.5em 0;
          width: 90%;
          border-bottom: 1px solid #dcdcdc;
          display: flex;
          align-items: center;
          h4{
            flex-basis: 40%;
            color: $comic-title;
            font-weight: normal;
            font-size: 0.8rem;
          }
          span{
            flex-basis: 60%;
            font-size: 0.8rem;
            color: #555555;
            a{
              text-decoration: none;
              color: $dc-blue;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .features{
    background-color: $dc-blue;
    &__content{
      width: 65%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0;
      div{
        display: flex;
        align-items: center;
        a{
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          padding: 0 1em;
        }
        img{
          width: 3vw;
          height: auto;
        }
        #shop-locator{
          width: 2.5vw;
        }
      }
    }
  }
}