@import '../utilities/variables';

main{
  background-color: $bg-main;
  .container{
    width: 70%;
    margin: 0 auto;
    .btn-tag{
      margin-top: -10px;
    }
    .current-series{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 40vh;
      width: 60%;
      margin: 0 auto;
      h2{
        color: #fff;
        flex-basis: 100%;
        text-align: center;
        margin: 5vh 0;
      }
    }
  }
  .features{
    background-color: $dc-blue;
    &__content{
      width: 65%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0;
      div{
        display: flex;
        align-items: center;
        a{
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          padding: 0 1em;
        }
        img{
          width: 3vw;
          height: auto;
        }
        #shop-locator{
          width: 2.5vw;
        }
      }
    }
  }
}